:root {
  .dark {
    --new-bgColor: #0e0e0e;
    --new-bgColorInner: #1a1919;
    --new-bgLineColor: #212121;
    --new-textItemFocused: #1a1919;
    --new-textItemBlur: #999999;
    --new-boxFocused: #fff;
    --new-textColor: 255 255 255;
    --new-blockSeparator: #272626;
    --new-btn-simple: #313030;
    --new-btn-text: #ffffff;
    --new-btn-primary: #612bd3;
    --new-ai-btn: #d82d7e;
    --new-box-hover: #201f1f;
    --new-table-border: #2b2b2b;
    --new-table-header: #1e1d1d;
    --new-table-text: #9c9c9c;
    --new-table-text-focused: #fc69ff;
    --new-small-strips: #191818;
    --new-big-strips: #161515;
    --new-col-color: #2c2b2b;
    --new-menu-dots: #696868;
    --new-menu-hover: #fff;
    --menu-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.5);
    --popup-color: rgba(65, 64, 66, 0.3);
  }
  .light {
    --new-bgColor: #f0f2f4;
    --new-bgColorInner: #ffffff;
    --new-bgLineColor: #e7e9eb;
    --new-textItemFocused: #3900b2;
    --new-textItemBlur: #777b7f;
    --new-boxFocused: #ebe8ff;
    --new-textColor: 14 14 14;
    --new-blockSeparator: #f2f2f4;
    --new-btn-simple: #eceef1;
    --new-btn-text: #0e0e0e;
    --new-btn-primary: #612bd3;
    --new-ai-btn: #d82d7e;
    --new-box-hover: #f4f6f8;
    --new-table-border: #e7e9eb;
    --new-table-header: #f5f7f9;
    --new-table-text: #777b7f;
    --new-table-text-focused: #fc69ff;
    --new-small-strips: #191818;
    --new-big-strips: #f5f7f9;
    --new-col-color: #eff1f3;
    --new-menu-dots: #696868;
    --new-menu-hover: #000;
    --menu-shadow: -22px 83px 24px 0 rgba(55, 52, 75, 0),
      -14px 53px 22px 0 rgba(55, 52, 75, 0.01),
      -8px 30px 19px 0 rgba(55, 52, 75, 0.05),
      -3px 13px 14px 0 rgba(55, 52, 75, 0.09),
      -1px 3px 8px 0 rgba(55, 52, 75, 0.1);
    --popup-color: rgba(55, 37, 97, 0.2);
  }
}

:root {
  .dark {
    --color-primary: #0e0e0e;
    --color-secondary: #090b13;
    --color-text: #ffffff;
    --color-third: #080b13;
    --color-forth: #612ad5;
    --color-fifth: var(--new-bgLineColor);
    --color-sixth: var(--new-table-header);
    --color-seventh: #7236f1;
    --color-gray: #8c8c8c;
    --color-input: var(--new-table-header);
    --color-input-text: #64748b;
    --color-table-border: var(--new-table-border);
    --color-custom1: #324264;
    --color-custom2: #141c2c;
    --color-custom3: #0b0f1c;
    --color-custom4: #8155dd;
    --color-custom5: #e9e9f1;
    --color-custom6: var(--new-bgLineColor);
    --color-custom7: #7950f2;
    --color-custom8: var(--new-btn-simple);
    --color-custom9: #354258;
    --color-custom10: #e4b895;
    --color-custom11: #8b90ff;
    --color-custom12: #b7c1ff;
    --color-custom13: #ffac30;
    --color-custom14: #576a9a;
    --color-custom15: #0a0a0a;
    --color-custom16: #121a2d;
    --color-custom17: #d3d3d3;
    --color-custom18: #aaaaaa;
    --color-custom19: #f97066;
    --color-custom20: #121b2c;
    --color-custom21: #506490;
    --color-custom22: #b91c1c;
    --color-custom23: #000000;
    --color-custom24: #eaff00;
    --color-custom25: #2e3336;
    --color-custom26: #1d9bf0;
    --color-custom27: #71767b;
    --color-custom28: #b69dec;
    --color-custom29: #291259;
    --color-custom30: #5826c2;
    --color-custom31: #0f1727;
    --color-custom32: #181818;
    --color-custom33: #f2f2f2;
    --color-custom34: #334155;
    --color-custom35: #242424;
    --color-custom36: #6b6b6b;
    --color-custom37: #0b1416;
    --color-custom38: #d9d9d9;
    --color-custom39: #ffffff;
    --color-custom40: #0e0e0e;
    --color-custom41: #cebdf2;
    --color-custom42: #32d583;
    --color-custom43: #425379;
    --color-custom44: #283450;
    --color-custom45: #832ad5;
    --color-custom46: #658dac;
    --color-custom47: #182034;
    --color-custom48: #080b14;
    --color-custom49: #0a0b14;
    --color-custom50: #262373;
    --color-custom51: #4f46e5;
    --color-custom52: #eaeef2;
    --color-custom53: #7c7d86;
    --color-custom54: #afb8c1;
    --color-custom55: #1b263b;
    --color-modalCustom: #000000;
  }
  .light {
    --color-primary: #f0f2f4;
    --color-secondary: #fff;
    --color-text: #000;
    --color-third: white;
    --color-forth: #612ad5;
    --color-fifth: var(--new-bgLineColor);
    --color-sixth: var(--new-table-header);
    --color-seventh: #7236f1;
    --color-gray: #8c8c8c;
    --color-input: var(--new-table-header);
    --color-input-text: #64748b;
    --color-table-border: #efefef;
    --color-custom1: #324264;
    --color-custom2: #f8f8f8;
    --color-custom3: #fff;
    --color-custom4: #8155dd;
    --color-custom5: #e9e9f1;
    --color-custom6: var(--new-bgLineColor);
    --color-custom7: #7950f2;
    --color-custom8: var(--new-btn-simple);
    --color-custom9: #354258;
    --color-custom10: #e4b895;
    --color-custom11: #8b90ff;
    --color-custom12: #b7c1ff;
    --color-custom13: #ffac30;
    --color-custom14: #576a9a;
    --color-custom15: #0a0a0a;
    --color-custom16: #121a2d;
    --color-custom17: #000;
    --color-custom18: #000;
    --color-custom19: #f97066;
    --color-custom20: #f5f5f5;
    --color-custom21: #506490;
    --color-custom22: #b91c1c;
    --color-custom23: #f5f5f5;
    --color-custom24: #eaff00;
    --color-custom25: #2e3336;
    --color-custom26: #1d9bf0;
    --color-custom27: #71767b;
    --color-custom28: #b69dec;
    --color-custom29: #291259;
    --color-custom30: #efefef;
    --color-custom31: #e0e0e0;
    --color-custom32: #181818;
    --color-custom33: #f2f2f2;
    --color-custom34: #334155;
    --color-custom35: #242424;
    --color-custom36: #6b6b6b;
    --color-custom37: #0b1416;
    --color-custom38: #d9d9d9;
    --color-custom39: #000;
    --color-custom40: #fff;
    --color-custom41: #cebdf2;
    --color-custom42: #32d583;
    --color-custom43: #425379;
    --color-custom44: #283450;
    --color-custom45: #832ad5;
    --color-custom46: #658dac;
    --color-custom47: #182034;
    --color-custom48: #fff;
    --color-custom49: #0a0b14;
    --color-custom50: #262373;
    --color-custom51: #4f46e5;
    --color-custom52: #eaeef2;
    --color-custom53: #7c7d86;
    --color-custom54: #afb8c1;
    --color-custom55: #d5d7e1;
    --color-modalCustom: transparent;
  }
}
