@tailwind base;
@tailwind components;
@tailwind utilities;

.my-wrapper {
  left: 0 !important;
  top: 0 !important;
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 999999 !important;
  display: flex !important;
  justify-content: center !important;
  background: rgba(0, 0, 0, 0.5) !important;
}

.my-wrapper > div {
  background: white !important;
  width: 600px !important;
  height: 300px !important;
  border-radius: 10px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-items: center !important;
  margin-top: 100px !important;
  color: black !important;
}
