name: "Build Containers"

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

permissions:
  contents: read
  packages: write

env:
  IMAGE: ghcr.io/gitroomhq/postiz-app

jobs:
  build-containers-common:
    runs-on: ubuntu-latest
    outputs:
      containerver: ${{ steps.getcontainerver.outputs.containerver }}
    steps:
      - name: Get Container Version
        id: getcontainerver
        run: echo "containerver=${{ github.ref_name }}" >> "$GITHUB_OUTPUT"

  build-containers:
    needs: build-containers-common
    strategy:
      matrix:
        include:
          - arch: amd64
            platform: linux/amd64
          - arch: arm64
            platform: linux/arm64
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to ghcr
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build and Push Image
        env:
          CONTAINERVER: ${{ needs.build-containers-common.outputs.containerver }}
          NEXT_PUBLIC_VERSION: ${{ github.ref_name }}
        run: |
          docker buildx build --platform ${{ matrix.platform }} \
            -f Dockerfile.dev \
            -t $IMAGE:${CONTAINERVER}-${{ matrix.arch }} \
            --build-arg NEXT_PUBLIC_VERSION=${NEXT_PUBLIC_VERSION} \
            --provenance=false --sbom=false \
            --output "type=registry,name=$IMAGE:${CONTAINERVER}-${{ matrix.arch }}" .

  build-container-manifest:
    needs: [build-containers, build-containers-common]
    runs-on: ubuntu-latest
    steps:
      - name: Login to ghcr
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Create Docker Manifest
        env:
          CONTAINERVER: ${{ needs.build-containers-common.outputs.containerver }}
        run: |
          docker buildx imagetools inspect $IMAGE:${CONTAINERVER}-amd64
          docker buildx imagetools inspect $IMAGE:${CONTAINERVER}-arm64

          docker manifest rm $IMAGE:${CONTAINERVER} || true
          docker manifest rm $IMAGE:latest || true

          docker manifest create $IMAGE:${CONTAINERVER} \
            --amend $IMAGE:${CONTAINERVER}-amd64 \
            --amend $IMAGE:${CONTAINERVER}-arm64
          docker manifest push $IMAGE:${CONTAINERVER}

          docker manifest create $IMAGE:latest \
            --amend $IMAGE:${CONTAINERVER}-amd64 \
            --amend $IMAGE:${CONTAINERVER}-arm64
          docker manifest push $IMAGE:latest

      - name: Verify Manifest
        run: docker manifest inspect $IMAGE:latest
