name: Build and Push Docker Image to GHCR

on:
  push:
    branches:
      - main
      - working-commit # Add other branches you want to build

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set owner to lowercase
        id: string
        run: echo "owner_lc=$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

      - name: Generate Docker tags
        id: meta
        run: |
          BRANCH_NAME="${{ github.ref_name }}"
          SANITIZED_BRANCH=$(echo "$BRANCH_NAME" | sed 's/[^a-zA-Z0-9._-]/-/g')
          echo "tag=$SANITIZED_BRANCH" >> $GITHUB_OUTPUT
          if [ "$BRANCH_NAME" = "main" ]; then
            echo "tags=ghcr.io/${{ steps.string.outputs.owner_lc }}/${{ github.event.repository.name }}:latest,ghcr.io/${{ steps.string.outputs.owner_lc }}/${{ github.event.repository.name }}:$SANITIZED_BRANCH" >> $GITHUB_OUTPUT
          else
            echo "tags=ghcr.io/${{ steps.string.outputs.owner_lc }}/${{ github.event.repository.name }}:$SANITIZED_BRANCH" >> $GITHUB_OUTPUT
          fi

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.dev
          push: true
          tags: ${{ steps.meta.outputs.tags }}
